@import url('https://fonts.googleapis.com/css2?family=Anton&family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question {
    font-family: "Play", serif;
    /* font-weight: bold; */
    font-style: normal;

}
/* nav ET footer */
nav,
footer {
    background-color: #0d6efd;
    color: #dee2e6;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
}



section {
    padding: 0 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    padding: 25px 25px;
}

.complete_question {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    padding: 25px;
    border-radius: 9px;
    gap: 13px;
    background-color: #85B0DA;
    box-shadow: 1px 3px 1px #dee2e6;
}

label {
    text-align: center;
}

.response_btn {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 15px 0 0;
    margin: 0 auto;
}

.response_btn>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#submit {
    padding: 0.75rem;
    line-height: 1.5;
    background-color: #0d6efd;
    color: #dee2e6;
    display: block;
    /* display: none; */
    margin: 0 auto;
    border: 1px solid #0d6efd;
    cursor: pointer;
    border-radius: 9px;
    user-select: none;
    transition: opacity .15s ease-in-out;
}

#submit.active {
    display: block;
}

#submit:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 568px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}