@import url('https://fonts.googleapis.com/css2?family=Anton&family=Play:wght@400;700&display=swap');

/* nav ET footer */
nav,
footer {
    background-color: #0d6efd;
    color: #dee2e6;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question {
    font-family: "Play", serif;
    font-weight: bold;
    font-style: normal;

}

body h1 {
    text-align: center;
    padding: 25px 0 15px;
    font-size: 2.9em;
}

#section {
    display: grid;
    border: 2px solid black;
    padding: 15px;
    font-weight: bold;
    color: #f5f5f5;
    margin: 15px;
}

#section div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    #section div {
        padding: 11px;
    }
}

@media screen and (max-width: 568px) {
    #section div {
        font-size: 1.3em;
    }
}