* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav ET footer */
nav,
footer {
    background-color: #0d6efd;
    color: #dee2e6;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
}